form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-text);
    resize: none;
    color: var(--color-text);
}

.image_box {
    background: tan;
    padding: 2rem;
    border-radius: 0.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 4px solid black;
    text-align: center;
}

.joke_container {
    flex-wrap: wrap;
}

.unsplash_image {
    max-width: 30%;
    border: 5px solid black;
  }